<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org">
<head>
    <title>Title-${title}</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px">
    <legend>菜单新增</legend>
</fieldset>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="title"
                    lay-verify="title"
                    autocomplete="off"
                    placeholder="请输入菜单名称"
                    class="layui-input"
            />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">父级菜单</label>

<!--        <div class="layui-input-inline">-->
<!--            <select name="title" onclick="getGenderList()" lay-verify="required">-->
<!--                <option value=""></option>-->
<!--            </select>-->
<!--        </div>-->

        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-primary demo-dropdown-base">
                <span>菜单列表</span>
                <i  class="layui-icon  layui-icon-down layui-font-12"></i>
            </button>
        </div>
        <!--<div class="layui-input-block">
            <input
                    type="text"
                    name="pId"
                    lay-verify="title"
                    autocomplete="off"
                    placeholder="请输入PID"
                    class="layui-input"
            />
        </div>-->
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">ICON</label>
        <div class="layui-input-block">
            <input type="text" id="iconPicker1" name="icon" value="fa-arrows" lay-filter="iconPicker2" class="hide">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单的URL</label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="href"
                    placeholder="请输入菜单的URL"
                    autocomplete="off"
                    class="layui-input"
            />
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
                            <textarea
                                    placeholder="请输入内容"
                                    class="layui-textarea"
                                    name="remark"
                            ></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">
                立即提交
            </button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="/static/js/jquery.min.js?v=1.1" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(["form", "layedit", "iconPickerFa"], function (data) {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            iconPickerFa = layui.iconPickerFa,
            dropdown = layui.dropdown
        // 渲染
        $.ajax({
            url:"/getMenuIdList",
            type:"get",
            dataType: "json",
            success(res){
                console.log(res);
                dropdown.render({
                    elem: '.demo-dropdown-base', // 绑定元素选择器，此处指向 class 可同时绑定多个元素
                    data:res.data,
                    click: function(obj){
                        this.elem.find('span').text(obj.title);
                    }
                });
            }
        })
        //监听提交
        form.on("submit(demo1)", function (data) {
            // 关闭弹出层
            layer.close(index);
            let url="/addMenu";
            $.ajax({
                url:url,
                type: "post",
                data:data.field,

            })
        });


        iconPickerFa.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // fa 图标接口
            url: "/static/lib/font-awesome-4.7.0/less/variables.less",
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            },
            // 渲染成功后的回调
            success: function (d) {
                console.log(d);
            }
        });

        iconPickerFa.render({
            // 选择器，推荐使用input
            elem: '#iconPicker1',
            // fa 图标接口
            url: "/static/lib/font-awesome-4.7.0/less/variables.less",
            // 是否开启搜索：true/false
            search: true,
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data.icon);
                document.getElementById("iconPicker1").value = data.icon;
            },
            // 渲染成功后的回调
            success: function (d) {
                console.log(d);
            }
        });
    })
</script>
</body>
</html>
